
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


* {
    box-sizing: border-box;
  }

  :root {
    --ff: 'Josefin Sans', sans-serif;

    --clr-light: rgb(252, 249, 249);
    --clr-dark: rgb(167, 151, 151);
    --clr-darker: rgb(75, 72, 72);
    --clr-accent: rgb(44, 189, 165);

/* font-size */
    --fs-h1: 3rem;  
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


html {
    scroll-behavior: smooth;
}



/* -------- General styles ---------*/

body {
  background: var(--clr-light);
  color: rgb(34, 31, 31);
  margin: 0;
  font-family: var(--ff);
  font-size: var(--fs-body);
  line-height: 1.5;

}

section {
    padding: 5em 2em;

}

img {
    display: block;
    max-width: 100%;
}


/* ---------- Typography----- */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}


.title {
margin-bottom: .23em;
}

.subtitle {
margin: 0;
font-size: var(--fs-h3);
}

.title-intro {
    font-weight: 500;
 }

.subtitle-intro {
    background-color: var(--clr-accent);
    padding: .30em 1em;
    margin-bottom: 2em;
    display: inline-block;
    font-weight: 600;
    font-style: italic;
}

.title-intro strong {
    display: block;
}


/*------------------  Navigation --------------- */

nav { 
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0; 
     z-index: 100; 
    transform: translateX(100%);
      /* transition: transform 250ms cubic-bezier(.5, 0, .5, 1); transition: all 0.3s linear; */

}


.nav-list {
    list-style: none;
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;

}

.nav-link:hover {
    color: var(--clr-accent);
} 

/* ------- Hamburger-------------- */
.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
    box-shadow: none;
}


.fas {
    text-align: right;
    width: 10em;
    height: 10px; 
    border-radius: 1em;
    font-size: 30px;
   
}


/* ------------- Classes for JS----- */
.nav-open .nav {
    transform: translate(0);
  }

.nav-open .nav-toggle {
    position: fixed;
  
}

.nav-open .fas {
    transform: rotate(.625turn);
}

.nav-open .fas::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .fas::after {
    opacity: 0;
}


/* ------------  Intro Section-------------*/
.intro {
    position: relative;
}

.intro-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 200px;
        position: relative;
        z-index: 2;
    }

    .subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));       
        grid-gap: 10px;
    }

    
}


.aboutMe {
    max-width: 1000px;
    margin: 0 auto;
}

.aboutMe-body {
    font-weight: 600;
    font-size: 1.05em;
    opacity: 90%;
}



/* My Projects*/
.myWork{
    background-color: rgb(204, 170, 107);
    color: var(--clr-light);
    text-align: center;
}

.subtitle-myWork {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 2em;
}

.projects {
display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}



.project{
    border: 1px solid rgb(241, 220, 220);
    width: 100%;
    height: 50vh;
    margin: 10px;
    box-shadow: var(--bs);
    background-color: rgb(161, 131, 92);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.project .project-link {
    text-decoration: none;
    color: #1a1717;
    font-size: var(--fs-h3);
    font-weight: 600;
 
}





/* ---------------- Footer Section  --------- */
.footer {
    background: var(--clr-darker);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;  
    font-weight: var(--fw-bold);
}

.footer a {
    /* The inherit keyword specifies that a property should inherit its value from its parent element. */
     color: inherit;
     text-decoration: none;

     }

 .email {
    font-size: var(--fs-h3);
    }
    

.email:hover,
.list-link:hover {
    /* The opacity-level describes the transparency-level,
     where 1 is not transparent at all, 0.5 is 50% see-through, and 0 is completely transparent. */
    opacity: 0.6;
}


.email:hover {
    text-decoration: underline;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.list-item {
    margin: 0 0.5em;
}

.list-link {
    padding: 0.5em;
}


